/* global */
:root {
/* App colors */
--color-primary: var(--color-black);
--color-primary-variant: var(--color-gray);
--color-accent: var(--color-bule);
--color-accent-variant: var(--color-orange);
--color-text: var(--color-white);

/* Colors */

--color-white: #ffffff;

--color-black: #050a13;

--color-blue: #03e8f9;

--color-orange: #fd6413;

--color-gray: #1b1e26;

/* Size */
--size-max-width:1200px;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, 
h2,
h3,
p,
ul {
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none ;
    color: var(--color-text);
}
button{
  
    background-color: transparent;
    outline: 0;
    border: 0;
}
button:focus{
    outline: 1px solid var(--color-blue);
}
/* Common */
.section{
    padding: 4rem;
    text-align: center;
}
.max-container{
    max-width: var(--size-max-width);
    margin: auto;
}
.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}
.description{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
/* Header */
.header {
    background-color: #050a13;
    position: fixed;
    top:0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header_logo_img{
    width: 36px;
    height: 36px;
}
.header_logo_title{
    font-size: 1.8rem;
}
.header_menu{
    display: flex;
    gap: 4px;
}
.header_menu_item{
    padding: 8px 16px;
}
.header_menu_item:hover{
    border-bottom: 1px solid var(--color-blue);
}
.header_menu_item.active{
    border: 1px solid var(--color-blue);
    border-radius: 4px;
}
/* home */
#home{
background-color: var(--color-primary);
color: var(--color-text);
padding: 5rem 1rem;
padding-top: 7rem;
text-align: center;
}
.home_avatar{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-blue);
}
.home_title{
    font-size: 3rem;
    margin: 1rem;
}
.home_title-strong{
    color: var(--color-blue);
}
.home_description{
    font-size: 1.3rem;
}
.home_contact{
    display: inline-block;
    background-color: var(--color-blue);
     margin: 2rem;
     padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--color-black);
   border-radius: 4px;

}
.home_contact:hover{
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-blue);
}
/* About */
.majors{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}
.major{
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}
.major_icon{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-blue);
    transition: all 300ms ease;
}
.major_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.major:hover .major_icon{
    transform: rotate(-15deg) scale(1.2);
}
.jobs{
    text-align: start;
}
.job{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;

} 
.job_name{
    color: var(--color-primary);

}
.job_period{
    color: var(--color-primary);
    font-size: 0.8rem;
}
.job_img{
    width: 36px;
    height: 36px;
}
/* skills */
#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}
.skills{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}
.skills_title{
    color: var(--color-blue);
    margin: 1rem 0;
    font-size: 1.2rem;
}
.skills_coding{
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}
.skills_tools{
    padding: 1rem;
}
.skills_etc{
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);
}
.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.bar_metadata{
    display:flex ;
    justify-content: space-between;

}
.bar_bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}
.bar_value{
    height: 3px;
    background-color: var(--color-blue);
}
/* Work */
#work{
    background-color: var(--color-primary);
    color: var(--color-text);
}
.categories{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}
.category{
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3cqmax;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
    cursor: pointer;
    white-space: nowrap;
}
.category-selected{
    background-color: var(--color-blue);
    color: var(--color-primary);
}
.category_count{
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius:100% ;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;
}
.category-selected .category_count,
.category:hover .category_count{
    opacity: 1;
    top: 0;

}
.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.project{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.project_img{
    width: 100%;
}
.project_metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 250ms ease-in;
}
.project_metadata:hover{
    opacity: 0.8;
    transform: translateY(0px);
}